@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

.dashboard {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(193, 110, 112);
    border-bottom: solid 2px;
    width: auto;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 1em;
  }
  .dashboard__container {
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: transparent;
  }
  .dashboard__btn {
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    margin-top: 0;
    border: none;
    color: black;
  }
  .dashboard div {
    margin-right: 10px;
    text-transform: lowercase;
  }
  .dashboard div::first-letter {
    text-transform: uppercase;
  }
  @media (max-width:500px) {
    .dashboard {
      font-size: 0.9em;
    }
    .dashboard div {
      margin-right: 0;
    }
  }
  @media (max-width:400px) {
    .dashboard {
      font-size: 0.8em;
    }
  }
  @media (max-width:356px) {
    .dashboard {
      font-size: 0.7em;
    }
  }